body {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

#main {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#nav {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0 20px;
}

#logo img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#nav ul {
    display: flex;
    margin-left: auto;
    list-style: none;
    padding: 0;
}

#nav ul li {
    display: inline-block;
    font-size: large;
    font-weight: bold;
    color: aqua;
    cursor: pointer;
    padding: 5px 10px;
    position: relative;
}

#nav ul li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: aqua;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

#nav ul li:hover::after {
    transform: scaleX(1);
}

#nav ul li a {
    color: inherit; /* Ensures link color inherits from parent */
    text-decoration: none; /* Removes underline from links */
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#blog {
    background-color: rgba(153, 149, 149, 0.5);
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(83, 83, 83, 0.2);
    width: 40%;
    height: auto;
    margin-left: 30%;
    padding: 5px;
    position: relative;
    z-index: 5;
}

#blog p {
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

.container {
    width: 100%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
    padding: 0;
}

.search-container {
    font-size: 1em;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}

.search-container input,
.search-container button {
    outline: none;
    border: none;
}

.search-container input {
    padding: 0.7em;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    font-weight: 300;
}

.search-container input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.search-container input:focus {
    border-color: white;
}

#result h2 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.18em;
    font-weight: 600;
    margin: 1.25em 0;
}

.weather,
.desc {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 2em;
}

.weather {
    margin-top: -0.7em;
}

#result img {
    margin: 0.6em 0 0 0;
    width: 6.2em;
    filter: drop-shadow(0 1.8em 3.7em rgba(0, 0, 0, 0.3));
}

#result h1 {
    font-size: 4em;
    margin: 0.3em 0 0.7em 0;
    line-height: 0;
    font-weight: 400;
    color: white;
}

.temp-container {
    display: flex;
    justify-content: center;
}

.temp-container div {
    padding: 0.3em 1em;
}

.temp-container div:first-child {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.temp-container .title {
    font-weight: 600;
    color: white;
}

.temp-container .temp {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}

.msg {
    margin-top: 1.8em;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

@keyframes highlightAnimation {
    0% {
        box-shadow: 0 0 0 rgba(43, 236, 227, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(15, 228, 210, 0.8);
    }
    100% {
        box-shadow: 0 0 0 rgba(6, 255, 193, 0.5);
    }
}

.highlight {
    animation: highlightAnimation 1s ease-in-out;
}

.contacts {
    width: 100px;
    height: 205px;
}

.container2 img {
    display: block;
    width: 100%; /* Adjusted for responsiveness */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
    object-position: 25% 25%;
    z-index: -1;
    margin-top: 0px;
    border-radius: 5px;
}

.overlay {
    width: 100%; /* Adjusted for responsiveness */
    height: 100%; /* Full height */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(27, 26, 26, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#bg {
    position: absolute;
    z-index: -1;
    width: 100%; /* Adjusted for responsiveness */
    height: auto; /* Maintain aspect ratio */
}

.weather {
    color: rgba(13, 229, 236, 0.8);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 2em;
    background-color: rgba(0, 0, 0, 0.6); /* Added background color with opacity */
    padding: 0.5em; /* Optional: adds some padding for better readability */
    border-radius: 0.5em; /* Optional: rounds the corners */
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.6); /* Adjust color and opacity as needed */
    border-radius: 0.5em; /* Optional: rounds the corners */
}

#wind {
    padding: 0px;
    margin: 0px;
}

#search-btn {
    color: #ffffff;
    background-color: transparent;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 300px;
}

#search-btn:hover {
    background: aqua;
    transition: 0.5s;
}

.contact h4 {
    padding: 0px;
    background-color: rgba(99, 99, 99, 0.3);
    color: aqua;
    position: absolute;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.overlay2 {
    background-color: rgba(27, 26, 26, 0.5); /* Black background with opacity */
    z-index: -2;
    width: 100%; /* Adjusted for responsiveness */
    height: 100%; /* Full height */
}

/* Responsive Design */
@media screen and (max-width: 850px) {
    #blog {
        width: 95%;
        margin-left: 2.5%;
    }

    #nav ul {
        flex-direction: column;
        margin-left: 0;
    }

    #nav ul li {
        margin: 10px 0;
    }

    .search-container {
        grid-template-columns: 1fr;
    }

    #search-btn {
        margin-right: 0;
    }

    .container2 img {
        width: 410%;
    }
    .overlay,
    #bg {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    #nav ul li {
        font-size: medium;
    }

    #blog p {
        font-size: 1em;
    }

    #result h1 {
        font-size: 3em;
    }
}

@media screen and (max-width: 400px) {
    #nav ul li {
        font-size: small;
    }

    #blog p {
        font-size: 0.9em;
    }

    #result h1 {
        font-size: 2.5em;
    }

    .weather,
    .desc {
        font-size: 0.8em;
    }

    .search-container input {
        font-size: 0.8em;
    }
}
